footer {
  padding: 40px 30px 30px 70px;
  background: #f7f8f9;


  .footer__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .footer__list {
      display: flex;
      flex-direction: row;
      padding: 0px 55px 0px 0px;

      // align-items: center;
      .footer__item {
        background: url("../img/footer-seporator.svg") no-repeat;
        background-position: 0% 50%;
        padding: 0px 0px 0px 5px;
        margin: 0px 0px 0px 5px;

        &:first-child {
          background: none;
          padding: 0px 0px 0px 0px;
        }

        a {
          transition: all 0.3s ease 0s;
          color: #989695;
          &:hover{
          color: #030303;
          }
        }
      }
    }
    .footer__contacts {
      a{
        margin-right: 10px;
        transition: all 0.3s ease 0s;
        :hover{
          transform: scale(1.2, 1.2);
        }
        img{

        }
      }
    }
  }

}