// stable.scss
body{
  font-family: 'Gilroy Medium';
}
.wrapper{
  height: 100%;
  width: 100%;
}
.lessons {
	width: 100%;
}
main{
  display: flex;
  flex-direction: row;
  @media (max-width:1100px){
    flex-direction: column;
  }
}
h2{
  font-size: 24px;
  font-weight: 600;
  @media (max-width:600px){
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
}
h3{
  font-size: 16px;
  line-height: 140%;
}
h4{
  font-size: 12px;
}